@import '../../sass/colors';

.categoriesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 320px) {
    justify-content: center;
  }
}

.item {
  margin: 10px;
}

.navLink {
  width: 100px;
  height: 130px;
  padding: 8px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  text-decoration: none;
  color: $color-font;
  fill: $color-font;
  text-align: center;
  box-shadow: $shadow-btn;
  transition: $transition;

  &:hover {
    fill: $color-violet;
    color: $color-violet;
    box-shadow: $shadow-btn-hover;
  }

  &:focus {
    box-shadow: $shadow-btn-focus;
    color: $color-violet;
    fill: $color-violet;
  }
}

.text {
  color: $color-font;
  text-shadow: $shadow-text-dark;
}
