@import '../../sass/colors';

.transactionsSection {
  background-color: $color-background;
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 16px;
  // border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $shadow-form;

  @media (min-width: 320px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: 768px) {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    min-width: 1060px;
  }
}

.transactionsContainer {
  display: flex;
  justify-content: space-between;

  @media (min-width: 320px) {
    flex-direction: column;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: $shadow-form;
  border-radius: $border-radius;
  margin-bottom: 10px;
  height: 46px;

  @media (min-width: 320px) {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
  }

  @media (min-width: 768px) {
    position: static;
    width: 296px;
  }
}

// .indicator {
//   position: absolute;
//   height: 40px;
//   width: 138px;
//   border-radius: $border-radius;
//   border: 1px solid red;
//   margin-left: 0.3rem;
//   box-shadow: $shadow-input-active;
//   pointer-events: none;
// }

.navLink {
  text-decoration: none;
  display: inline-flex;
  text-shadow: $shadow-text-dark;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  transition: $transition;
  color: $color-font;

  &:hover {
    color: $color-violet !important;
  }

  @media (min-width: 320px) {
    width: 50%;
    box-shadow: $shadow-btn-hover;
  }

  @media (min-width: 768px) {
    border-radius: $border-radius;
    width: 138px;
    box-shadow: none;
  }
}

// .navLink1 {
//   @extend .navLink;
// }

// .navLink1:focus ~ .indicator {
//   transform: translateX(0);
//   transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
// }

// .navLink2 {
//   @extend .navLink;
// }

// .navLink2:focus ~ .indicator {
//   transform: translateX(150px);
//   transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
// }

.tdDescr {
  font-size: 8px;
  display: flex;
  flex-direction: column;
}

.spanDescr {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
}

.tdCategory {
  font-size: 8px;
}

.tdAmount {
  font-weight: 700;
}

/*                 TABLET              */

@media (min-width: 768px) {
  td {
    font-size: 12px;
  }
}
