@import '../../sass/colors';

.section {
  @media (min-width: 320px) {
    padding: 0;
  }
  @media (min-width: 768px) {
    padding: 40px 50px 50px 50px;
  }
  @media (min-width: 1200px) {
    padding: 40px 110px 40px 110px;
  }
}

.div1 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media (min-width: 320px) {
    margin-top: 30px;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    min-width: 1060px;
    max-width: 100%;
  }
}

.monthNameBox {
  display: flex;
  font-size: 14px;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background-color: $color-background-btn;
  box-shadow: $shadow-input;

  @media (min-width: 320px) {
    margin-top: 30px;
  }

  @media (min-width: 768px) {
    margin: 0;
  }
}

.monthName {
  width: 100%;
  text-align: center;
  text-shadow: $shadow-text-dark;
  color: $color-font;
  font-size: 12px;
}

.transactionName {
  @extend .monthName;
  color: $color-font;
  font-size: 14px;
}

.transactionTypeBox {
  display: flex;
  font-size: 14px;
  align-items: center;
  width: 150px;
  margin-bottom: 20px;
}

.btnNext {
  background-color: transparent;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  padding: 0;
  width: 22px !important;
  height: 22px;
  border-radius: 50%;
  fill: $color-font;
  transition: $transition;

  &:hover {
    fill: $color-rose;
    box-shadow: $shadow-input-active;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 40px;
  width: 150px;
  border-radius: 30px;
  color: white;
  fill: white;
  font-size: 12px;
  font-weight: 500;
  transition: $transition;
  text-shadow: $shadow-text-dark;

  &:hover,
  &:focus {
    color: $color-rose;
    fill: $color-rose;
  }

  @media (min-width: 320px) {
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    margin: 0;
  }
}

.reportsBox {
  background-color: $color-background;
  box-shadow: $shadow-form;
  backdrop-filter: blur(5px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 320px) {
    padding: 20px 10px 20px 10px;
    width: 100%;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    padding: 25px 220px 25px 220px;
    min-width: 1060px;
    max-width: 100%;
  }
}
