@import '../../sass/colors';

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  fill: $color-font;
  transition: $transition;
  border-radius: 50%;
  position: relative;

  &:hover {
    fill: $color-red !important;
  }

  &:active {
    box-shadow: $shadow-btn-focus;
  }

  @media (min-width: 320px) {
    width: 20px !important;
    height: 20px !important;
    margin-left: 7px;
  }

  @media (min-width: 480px) {
    width: 35px !important;
    height: 35px !important;
    margin-left: 15px;
  }
}

.transactionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: 320px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    max-width: 716px;
  }

  @media (min-width: 1140px) {
    margin: 0;
  }
}

.transactionCard {
  border-radius: $border-radius;
  color: $color-font;
  fill: $color-font;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 15px;
  letter-spacing: 1px;
  transition: $transition;
  text-shadow: $shadow-text-dark;
  &:hover,
  &:focus {
    box-shadow: $shadow-form;
    background-color: $color-background;
  }
}

.spanDate {
  @media (min-width: 320px) {
    font-size: 8px;
  }

  @media (min-width: 480px) {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    font-size: 12px;
    width: 25%;
  }
}

.spanDescr {
  @media (min-width: 320px) {
    font-size: 8px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  @media (min-width: 480px) {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    font-size: 12px;
    margin-bottom: 0;
    width: 65%;
    text-align: left;
  }
}

.groupedDateDescr {
  display: flex;

  @media (min-width: 320px) {
    flex-direction: column-reverse;
    width: 40%;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
  }
}

.spanCategory {
  width: 30%;
  margin-left: 7px;

  @media (min-width: 320px) {
    font-size: 8px;
  }

  @media (min-width: 480px) {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    font-size: 12px;
    margin-left: 15px;
  }
}

.spanAmount {
  color: $color-violet;
  font-weight: 700;
  text-align: right;
  margin-left: 7px;

  @media (min-width: 320px) {
    font-size: 8px;
    width: 20%;
  }

  @media (min-width: 480px) {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    font-size: 12px;
    margin-left: 15px;
  }
}

.spanDelete {
  display: flex;
  justify-content: flex-end;
  margin-left: 7px;

  @media (min-width: 320px) {
    width: 20px;
    height: 20px;
  }

  @media (min-width: 768px) {
    width: 35px !important;
    margin-left: 15px;
  }
}

// .card-enter {
//   opacity: 0;
//   transform: scale(0.9);
// }

// .card-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: opacity 300ms, transform 300ms;
// }

// .card-exit {
//   opacity: 1;
// }

// .card-exit-active {
//   opacity: 0;
//   transform: scale(0.9);
//   transition: opacity 300ms, transform 300ms;
// }
