body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s !important;
}

/* Themes */

html[data-theme='light'] {
  --background-color: #e7eef7;
}

html[data-theme='dark'] {
  --background-color: #212121;
}

body {
  --text-color-light: #79819c;
  --text-color-dark: #b4b9c1;
  --background-color-light: #e7eef7;
  --background-color-dark: #212121;
}

/* Scroll bar  */

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  /* background: #18dcff; */
  background: rgb(124, 95, 255);
  background: linear-gradient(
    357deg,
    rgba(124, 95, 255, 0.9109768907563025) 33%,
    rgba(0, 212, 255, 0.916579131652661) 100%
  );
  border: 0px none;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c5fff;
}
::-webkit-scrollbar-thumb:active {
  background: #7c5fff;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.044);
  border: 0px none rgba(255, 255, 255, 0.07);
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.07);
}
::-webkit-scrollbar-track:active {
  background: rgba(255, 255, 255, 0.07);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
